<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">
						
	<bean id="xml01" class="kr.co.softcampus.beans.TestBean01" lazy-init="true">
		<constructor-arg value="100" type="int" index="0"/>
		<constructor-arg value="문자열" type="java.lang.String" index="1"/>
		<constructor-arg ref="data_bean01" index="2"/>
	</bean>
	
	<bean id="data_bean01" class="kr.co.softcampus.beans.DataBean01"/>
	
</beans>